#include <windows.h>

APPICON ICON "nudge.ico"
1 RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "Legends Nudge Bridge"
      VALUE "FileVersion",     "1.0.0.0"
      VALUE "InternalName",    "LegendsNudge"
      VALUE "OriginalFilename","LegendsNudge.exe"
      VALUE "ProductName",     "Legends Nudge Bridge"
      VALUE "ProductVersion",  "1.0.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
